* {


    /* outline: 2px dotted red;
    box-sizing: border-box; */

}

body {

    /* width: 1280px;
    height: 640px; */
    margin: 0px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.26) 0%, #000000 100%);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.jumbotron {
    position: absolute;
    /* width: 500px;
    height: 500px; */
    width: 935px;
    height: 525px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-image: url(img/flower-bg-1.svg);
}

.jumbotron .radial {
    position: absolute;
    width: 935px;
    height: 525px;
    left: 173px;
    top: 60px;

    background: radial-gradient(53.54% 53.54% at 49.96% 46.46%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.49) 100%);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.wrapper {
    /* max-width: 900px;
    margin: 0 auto; */
    background: rgba(0, 0, 0, 0.3);

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 20px;
}

ul#nav {
    padding: 0;
}

ul#nav li {
    display: inline;
    list-style: none;
    margin-right: 0;

    /* color: rgb(255, 255, 255); */
}

li a {
    text-decoration: none;
    color: #ffffff;
    padding: 15px;
    margin: -1px;
    cursor: pointer;
    transition-duration: 0.4s;
}

ul#nav li:nth-child(1) {
    margin: 0;
}

ul#nav li a:hover {
    background-color: #ffffff;


}

ul#nav li a:hover {
    color: rgb(0, 0, 0);
}

.main {

    position: absolute;
    width: 800px;
    height: 379px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0px;
    margin-top: 96px;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
}

.main article img {
    /* margin-bottom: -18px; */
}

p {
    color: white;
    margin-right: 410px;
    margin-bottom: 8px;
    margin-top: -2px;
}

.logo {
    /* display: flex;
    justify-content: flex-start;
    align-items: center; */
}

.social-icon {
    display: flex;
    align-items: center;
}

.social-icon a {
    margin: 0 10px;
}

.social-icon a:nth-child(1) {
    margin-left: 0;
}

ul#sosmed li {}

ul#sosmed li:nth-child(1) {
    margin: 0;
}


ul#sosmed li a {
    text-decoration: none;
}

.button {

    width: 153px;
    height: 28px;
    margin: 10px 0px;
    background: #000000;
    border-radius: 8px;
    color: #ffffff;
    /* background-color: #f4511e; */
    border: none;
    /* color: white; */
    padding: 3px;
    text-align: center;
    font-size: 16px;
    /* margin: 4px 2px; */
    /* opacity: 0.6; */
    transition: all 0.5s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #ffffff;


}

.button:hover {
    background-color: #ffffff;
    color: #000000;
    transition: 0.3s;
    border-color: #000000;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    vertical-align: -webkit-baseline-middle;

}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;

}

.button:hover span:after {
    opacity: 1;
    right: 0;
}



footer {
    position: absolute;
    /* width: 564px; */
    height: 28px;
    bottom: 0px;
    width: 100%;
    display: flex;
    font-family: sans-serif;
    /* font-style: normal; */
    font-weight: 400;
    font-size: 12px;
    /* line-height: 13px; */
    background: rgba(255, 255, 255, 0.1);
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
    align-content: center;
}

footer span {
    /* display: flex;
    text-align: center;
    justify-content: center;
} */

    .button p {}